.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  width: 775px;
  margin: 0 auto;
  z-index: 1;
  justify-content: center; 
  margin-bottom: 70px;
  text-align: center;
}