@import url("./__triangle/kaufman__triangle.css");

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding: 90px 0;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


